@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
